<a href="https://colab.research.google.com/github/Julioore/C1_Asignatura/blob/main/practicas/practica3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Práctica 3
* Puede resolver aquí los ejercicios abriendo una celda después de cada uno de los enunciados.  
* Por favor, documente la solución de los ejercicios añadiendo suficientes **comentarios** del programador que expliquen el código.

## Ejercicio 3.1. Trabajar con un DataSet
* Obtener un dataset, preferiblemente con datos financieros, actuariales, económicos o estadísticos.
* Crear un modelo de análisis de los datos, utilizando las librerías principales para el análisis de datos, por ejemplo:
    - NumPy
    - Pandas
    - Matplotlib

## Ejercicio 3.2. Gráfico histórico de un índice o valor bursátil
* Descargar un archivo con formato ***csv*** de la página de Yahoo Finanzas con la cotización de:
 - un índice (IBEX, NASDAQ, ...) o
 - valor bursátil,
* o bien, de otra fuente disponible.
* Crear un procedimiento que lea el fichero y finalmente obtenga un gráfico del histórico del índice o valor.
* Tomar el periodo histórico más largo posible.
* Alternativamente o adicionalmente, si disponemos de una API o fuente de información diferente de un *csv* descargado de forma manual, también se podría realizar de una forma más automatizada.

In [1]:
# así efectuamos el clonado de nuestro repositorio que está en GitHub
!git clone https://github.com/Julioore/C1_Asignatura.git

Cloning into 'C1_Asignatura'...
remote: Enumerating objects: 171, done.
remote: Counting objects: 100% (171/171), done.
remote: Compressing objects: 100% (107/107), done.
remote: Total 171 (delta 42), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (171/171), 205.31 KiB | 4.46 MiB/s, done.
Resolving deltas: 100% (42/42), done.

In [2]:
# nos vamos hasta el directorio donde se encuentra el fichero
%cd C1_Asignatura

/content/C1_Asignatura

In [3]:
import pandas as pd                     # importamos pandas
path = 'SAN.csv'                        # establecemos la ruta del archivo
historicosantander = pd.read_csv(path)  # esta es la variable a la que hemos asociado el DataFrame para luego tratarla
historicosantander

historicosantander[["Close"]].plot()

            Date  Open      High       Low     Close  Adj Close   Volume
0     1987-07-30  0.00  4.391340  4.319853  4.350490   0.739299  5826240
1     1987-07-31  0.00  4.370915  4.319853  4.330065   0.735828  2104056
2     1987-08-03  0.00  4.330065  4.309641  4.319853   0.734092   965736
3     1987-08-04  0.00  4.319853  4.227941  4.227941   0.718473  1479816
4     1987-08-05  0.00  4.217729  4.084967  4.105392   0.697648  1068552
...          ...   ...       ...       ...       ...        ...      ...
8795  2022-06-23  2.85  2.860000  2.790000  2.860000   2.860000  7037900
8796  2022-06-24  2.85  2.920000  2.850000  2.910000   2.910000  5319000
8797  2022-06-27  2.91  2.930000  2.870000  2.910000   2.910000  4343000
8798  2022-06-28  2.92  2.950000  2.870000  2.880000   2.880000  6349800
8799  2022-06-29  2.88  2.880000  2.820000  2.850000   2.850000  5426398

[8800 rows x 7 columns]

## Ejercicio 3.3. Trabajar con la Librería openpyxl
* Crear una aplicación programada en Python que permita interactuar con la **hoja de cálculo** tanto para lectura, como para escritura.
* Utilice la Librería openpyxl, u otra que considere adecuada para interactuar con hoja de cálculo

## Ejercicio 3.4. Librería actuarial
* Utilizando la librería actuarial **pyliferisk**, o cualquier otra que considere adecuada en este campo, cree un caso donde se muestren diferentes cálculos y procedimientos que se puedan realizar con ella.
* Alternativamente, puede realizar su propia librería actuarial y probarla creando ejemplos prácticos. En este caso, no olvide documentar la funcionalidad de los métodos que programe, utilizando POO.

## Ejercicio 3.5. Trabajar con una API
* Localizar una API con datos que puedan resultar de interés.
* Crear una aplicación programada en Python que utilice los datos de la API, preferiblemente con datos en tiempo real.
* Mostrar la información que nuestra aplicación pueda procesar, según ciertos filtros, que faciliten el uso de la API.

## Ejercicio 3.6. Página web con Flask
* Crear una aplicación de página web programada en Python con el framework Flask.
* Puede desplegarla en alguna plataforma gratuita como, por ejemplo, [Pythonanywhere](https://www.pythonanywhere.com) o [Heroku](https://www.heroku.com).

In [ ]:
# La página web es: https://opcion22.pythonanywhere.com

## Ejercicio 3.7. Bot de Telegram que proporciona cotizaciones en tiempo real
Crear un Bot de Telegram programado en Python que realizando **Web Scraping** nos pueda dar precios en tiempo real de valores cotizados en bolsa, o en mercados financieros internacionales.  
Adjuntar capturas de pantalla mostrando el funcionamiento del bot en Telegram.

## Ejercicio 3.8. Estrategias de Trading
* Elegir una compañía cotizada y realizar con ella diferentes estrategias de trading, con gráficos e indicadores bursátiles.
* Puede utilizar la librería TA-Lib u otro sistema para efectuar el análisis.

## Ejercicio 3.9. Finanzas
Estudie casos en el campo de las finanzas:
* VAN y TIR
* Cuadro de amortización de préstamos
* Operativa con activos de Renta Fija: bonos
* *Duration*
* Estructura Temporal de los Tipos de Interés (ETTI)
* Forwards sobre tipos de interés
* Arbitraje
* Random Walk en una y dos dimensiones
* ... / ...

In [ ]:
!pip install numpy-financial     # se instala con pip la librería financiera

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy-financial in /usr/local/lib/python3.7/dist-packages (1.0.0)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from numpy-financial) (1.21.6)

In [ ]:
import numpy_financial as npf
import numpy as np
import tabulate as tab
import matplotlib.pyplot as plt

# datos del préstamo

C0 = 100000
n = 10 
tasa = 0.05

# en primer lugar vamos a calcular la cuota constante

pago = npf.pmt(rate=tasa, nper=n, pv=-C0, fv=0, when='end')
print(pago)

#Vamos a calcular el capital pendiente de cada periodo

pendiente = npf.fv(rate=tasa, nper =range(n+1), pmt = pago, pv= -C0)
print(pendiente)

#Calculamos la amortización de cada año

amortz = npf.ppmt(rate=tasa, per=range(n+1), nper=n, pv=-C0, fv=0, when='end')
print(amortz)

#Calculamos los intereses de cada periodo

interes = npf.ipmt(rate=tasa, per=range(n+1), nper=n, pv=-C0, fv=0)
print(interes)

#Comprobamos

comprob = np.array(amortz + interes)
print(comprob)

#Hacemos un cuadro de amortización para ver los datos con la librería tabulate
datos =[]
saldo = C0
saldo2 = 0
linea1 = [0,0,0,0,C0,0]
datos.append(linea1)

Anualidad = npf.pmt(rate=tasa, nper=n, pv=-C0, fv=0, when='end')

for i in range(1, n+1):
    pago_capital = npf.ppmt(rate=tasa, per=i, nper=n, pv=-C0, fv=0, when='end')
    pago_int = Anualidad - pago_capital
    saldo -= pago_capital
    saldo2 += pago_capital
    
    linea = [i, format(Anualidad, '.0f'),  format(pago_int, '.0f'), format(pago_capital, '.0f'), format(saldo, '.0f'), format(saldo2, '.0f')]
    
    datos.append(linea)
    
print(tab.tabulate(datos, headers= ['Periodo', 'Anualidad', 'Intereses', 'Amortización','Capital Vivo','Capital Amortizado'], tablefmt = 'psql'))

12950.457496545661
[100000.          92049.54250345  83701.56213208  74936.18274214
  65732.5343827   56068.70360529  45921.68128901  35267.30785691
  24080.21575321  12333.76904433     -0.        ]
[ 7571.86428242  7950.45749655  8347.98037137  8765.37938994
  9203.64835944  9663.83077741 10147.02231628 10654.3734321
 11187.0921037  11746.44670888 12333.76904433]
[5378.59321412 5000.         4602.47712517 4185.0781066  3746.80913711
 3286.62671914 2803.43518026 2296.08406445 1763.36539285 1204.01078766
  616.68845222]
[12950.45749655 12950.45749655 12950.45749655 12950.45749655
 12950.45749655 12950.45749655 12950.45749655 12950.45749655
 12950.45749655 12950.45749655 12950.45749655]
+-----------+-------------+-------------+----------------+----------------+----------------------+
|   Periodo |   Anualidad |   Intereses |   Amortización |   Capital Vivo |   Capital Amortizado |
|-----------+-------------+-------------+----------------+----------------+----------------------|
|         0 |           0 |           0 |              0 |         100000 |                    0 |
|         1 |       12950 |        5000 |           7950 |          92050 |                 7950 |
|         2 |       12950 |        4602 |           8348 |          83702 |                16298 |
|         3 |       12950 |        4185 |           8765 |          74936 |                25064 |
|         4 |       12950 |        3747 |           9204 |          65733 |                34267 |
|         5 |       12950 |        3287 |           9664 |          56069 |                43931 |
|         6 |       12950 |        2803 |          10147 |          45922 |                54078 |
|         7 |       12950 |        2296 |          10654 |          35267 |                64733 |
|         8 |       12950 |        1763 |          11187 |          24080 |                75920 |
|         9 |       12950 |        1204 |          11746 |          12334 |                87666 |
|        10 |       12950 |         617 |          12334 |              0 |               100000 |
+-----------+-------------+-------------+----------------+----------------+----------------------+

## Ejercicio 3.10. Valoración de opciones financieras
* Método de valoración de opciones europeas mediante arbol binomial
* Método de Black-Scholes
* Convergencia de ambos métodos
* Gráfico de convergencia
* Arbitraje en caso de no cumplirse la paridad Put-Call